{% extends 'personas/index.html'%}

{% load account socialaccount %}

{% block content %}


{% get_providers as socialaccount_providers %}





  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form role="form" method="post" action="">

                    {% csrf_token %}
                     <h6 class="card-category">
                      {% if msg %}
                        <span class="text-danger">{{ msg }}</span>
                      {% else %}

                        Use your credentials
                        <br />
                        OR <a href="{% url 'register' %}" >create your own user</a>

                      {% endif %}
                  </h6>
                <div class="card-body">

                    <div class="row">

                      <div style="width:100%" >
                        <div class="form-group">
                          <label>Username</label>
                          {{ form.username }}
                        </div>
                         <span class="text-danger">{{ form.username.errors }}</span>
                      </div>

                    </div >
                    <div class="row">

                      <div style="width:100%">
                        <div class="form-group">
                          <label>Password</label>
                          {{ form.password }}
                        </div>
                         <span class="text-danger">{{ form.password.errors }}</span>
                      </div>

                    </div>


                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
   </div>

        <div class="card-footer">
            <button type="submit" name="login" class="btn btn-fill btn-primary" style="width:100%">Login</button>
                  &nbsp; &nbsp;
                  Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
         </div>
                    <hr>
                    {% for provider in socialaccount_providers %}
                    {% if provider.id == "openid" %}
                    {% for brand in provider.get_brands %}
                    <button class="btn btn-fill btn-outline-primary">
                      <a title="{{brand.name}}"
                         class="socialaccount_provider {{provider.id}} {{brand.id}}"
                         href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                         >{{brand.name}}</a>
                    </button>
                    {% endfor %}
                    {% endif %}
                    <button class="btn btn-fill btn-outline-primary">
                      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
                    </button>
                    {% endfor %}

                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'forgot-password'%}">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'register' %}">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
